<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="KPMG.Arfolyam.Excel.Properties.Settings.ExchangeRatesConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=I:\IT\Coding\gitHubRepo\KPMG\ExchangeRates.accdb"
            providerName="System.Data.OleDb" />
        <add name="KPMG.Arfolyam.Excel.Properties.Settings.ExchangeRatesConnectionString1"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\ExchangeRates.accdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="CustomBinding_MNBArfolyamServiceSoap" maxReceivedMessageSize="2147483647" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://www.mnb.hu/arfolyamok.asmx" binding="basicHttpBinding"
                bindingConfiguration="CustomBinding_MNBArfolyamServiceSoap"
                contract="MNBArfolyamServiceSoapClient.MNBArfolyamServiceSoap"
                name="CustomBinding_MNBArfolyamServiceSoap" />
        </client>
    </system.serviceModel>
</configuration>